<figure class="card">
  <div class="card_image">{IMAGE}</div>
  <div class="card_title_box">
    <h2 class="card_title">{PRODUCTNAME}</h2>
  </div>
  <div class="card_detail">
    <div class="card_detail_color">
      <h6>{COLOR}</h6>
    </div>
  </div>
  <div class="card_detail">
    <div class="card_detail_quantity">
      <h6>{QUANTITY}</h6>
    </div>
  </div>
  <div class="card_detail">
    <div class="card_detail_price">
      <h6>{PRICE}</h6>
    </div>
  </div>
  <a class="card_link" href="/product?id={ID}">
    <span>Details</span>
  </a>
</figure>
